@model Ecommerce.Models.ViewModels.CartVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                   @* <div>
                        <p class="mb-0">
                            <span class="text-muted">Sort by:</span> <a href="#!" class="text-body">
                                price <i class="fas fa-angle-down mt-1"></i>
                            </a>
                        </p>
                    </div>*@
                </div>

                @foreach(var item in Model.ListOfCart)
                {
                    <div class="card rounded-3 mb-4">
                    <div class="card-body p-4">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                    <a asp-controller="Home" asp-action="Details"
                                   asp-route-productId="@item.Product.Id">
                                <img src="@item.Product.ImageUrl" class="img-fluid rounded-3" alt="@item.Product.Name" />
                                    </a>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                                <p class="lead fw-normal mb-2">@item.Product.Name</p>
                                    <p><span class="text-muted">Author: </span>@item.Product.Author</p>
                                    <p><span class="text-muted">ISBN: </span>@item.Product.ISBN</p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                
                                    <a class="btn btn-link px-2" asp-action="Minus" asp-route-id="@item.Id">
                                    <i class="bi bi-dash-circle"></i>
                                </a>

                                <input id="form1" min="0" name="quantity" disabled value="@item.Count" type="number"
                                       class="form-control form-control-sm" />
                                    <a class="btn btn-link px-2" asp-action="Plus" asp-route-id="@item.Id">
                                    <i class="bi bi-plus-circle"></i>
                                </a>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                    <h5 class="mb-0">@item.Product.Price.ToString("c")</h5>
                            </div>
                            <div class="col-md-1 col-lg-1 col-xl-1 text-end ">
                                    <a class="text-danger btn" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                }

                <div class="card mb-4">
                    <div class="card-body p-4 d-flex flex-row">
                        <div class="form-outline flex-fill">
                            <input type="text" id="form1" class="form-control form-control-lg" />
                            <label class="form-label" for="form1">Discound code</label>
                        </div>
                        <button type="button" class="btn btn-outline-warning btn-lg ms-3">Apply</button>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body p-4 d-flex flex-row">
                        <div class="form-outline flex-fill">
                            <div>
                                Price:
                            </div>                            
                            <div class="text-success fw-bolder">
                                Discount:
                            </div>                            
                            <div class="border-top fw-bold">
                                Total Amount:
                            </div>
                        </div>
                        <div class="form-outline ">
                            <div>
                                @Model.orderHeader.OrderTotal.ToString("c");
                            </div>
                            <div class="text-success fw-bolder">
                                @((Model.orderHeader.OrderTotal - Model.TotalPay).ToString("c"))
                            </div>
                            
                            <div class="border-top fw-bold">
                                @Model.TotalPay.ToString("c");
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body ">
                        <a asp-action="Summary" type="button" class="btn btn-success btn-block btn-lg ">Proceed to Pay</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>